* {
    /* Hardcore Terminal Vibe */
    font-family: "ttf-ibmplex-mono-nerd", "Maple Mono", monospace;
    font-size: 11px;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-shadow: none;
    min-height: 0;
    min-width: 0;
}

window#waybar {
    background: linear-gradient(90deg, #050209 0%, #0d0a16 100%);
    color: #ffffff;
}

/* Abstand zwischen den Modulen */
.modules-left > widget > label,
.modules-center > widget > label,
.modules-right > widget > label,
#tray {
    padding: 0 10px;
}

/* --- Workspaces --- */
#workspaces button {
    color: #595c61;
    background: transparent;
    padding: 0 10px;
}

#workspaces button.active {
    color: #e4d81a;
    font-weight: bold;
}

#workspaces button:hover {
    color: #c4ede9;
    box-shadow: none;
}

.modules-left {
    background-color: #e4d81a;
    color: #050209;
}

.modules-center,
.modules-right {
    background-color: rgba(5, 2, 9, 0.88);
}

#tray,
#clock,
#custom-notification {
    padding: 0 6px;
    margin: 0 1px;
    background: #0d0a16;
    min-height: 0;
}

#clock {
    color: #ffffff;
}

#tray:hover,
#clock:hover,
#custom-notification:hover {
    color: #e41148;
}

#custom-notification {
    color: #e4d81a;
}

#custom-notification label {
    font-size: 11px;
    padding: 0;
    margin: 0;
}

#custom-notification.dnd,
#custom-notification.inhibited {
    color: #c9032f;
}

/* --- Kritische Werte (Rot) --- */
#memory.warning,
#cpu.warning,
#temperature.critical {
    color: #c9032f;
}